{% extends "pizzas/base.html" %}
{% load static %}

{% block page_header %}
<h3>{{ pizza }}</h3>
{% endblock page_header %}

{% block content %}

<ul>
    {% for t in toppings %}
    <div class="card mb-3">
        <div class="card-body">
            <p>{{ t.topping_name|linebreaks }}</p>
        </div>
    </div>

    <style>
        body {
            background-image: url("https://cdn.wallpapersafari.com/62/25/oSPKdi.jpg");
        }
    </style>

    {% empty %}
    <li> There are no toppings for this Pizza yet.</li>
    {% endfor %}

    <img src="{% static 'pizzas/images/bbqchicken.jpg' %}">

</ul>

<a href="{% url 'pizzas:new_pizza_comment' pizza.id %}">Add a new comment:</a>

<ul>
    {% for c in comments %}
    <div class="card mb-3">
        <div class="card-body">
            <p>{{ c.comment_name|linebreaks }}</p>
        </div>
    </div>

    <style>
        body {
            background-image: url("https://cdn.wallpapersafari.com/62/25/oSPKdi.jpg");
        }
    </style>

    {% empty %}
    <li> There are no comments for this Pizza yet.</li>
    {% endfor %}
</ul>
{% endblock content %}