{% extends "pizzas/base.html" %}

{% block page_header %}
<h1>Pizza Menu</h1>
{% endblock page_header %}

{% block content %}
<ul>
    {% for pizza in pizzas %}

    <li>
        <h3>
            <a href="{% url 'pizzas:pizza' pizza.id %}">{{ pizza }}</a>
        </h3>
    </li>


    <style>
        body {
            background-image: url("https://cdn.wallpapersafari.com/62/25/oSPKdi.jpg");
        }
    </style>

    {% empty %}
    <li>
        <h3>No comments have been added yet.
        </h3>
    </li>
    {% endfor %}
</ul>

{% endblock content %}