{% extends "pizzas/base.html" %}


{% block content %}
<p>
    Pizza: {{ pizza }}
</p>

<ul>
    {% for t in toppings %}
    <li>
        <p> {{ t.topping_name }}</p>
        <p> {{ t.date_added }}</p>
    </li>
    {% empty %}
    <li> There are no toppings for this Pizza yet.</li>
    {% endfor %}
</ul>

<p><a href="{% url 'pizzas:new_pizza_comment' pizza.id %}">Add new comment</a></p>

<ul>
    {% for c in comments %}
    <li>
        <p> {{ c.comment_name }}</p>
        <p> {{ c.date_added }}</p>
    </li>
    {% empty %}
    <li> There are no comments for this Pizza yet.</li>
    {% endfor %}
</ul>

{% endblock content %}